/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Roboto Condensed', sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
}
body {
  height: 100%;
  background: linear-gradient(transparent, #19E68C), url('https://images.unsplash.com/photo-1582730147924-d92f4da00252?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: 'Montserrat';
}
nav {
  display: flex;
  background-color: #19E68C;
  padding: 1.5%;
  filter: drop-shadow(3px 0 5px #a7a7a7);
  font-family: 'Poppins';
  color: #0c6d4e;
}
nav .logo {
  display: flex;
  align-items: center;
  width: 25%;
}
nav .logo svg {
  margin-right: 2%;
}
nav h1 {
  font-family: 'Montserrat';
  color: #474646;
}
nav .links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .links a {
  margin: 0 2%;
  text-decoration: none;
  color: #0c6d4e;
}
nav .links a:hover {
  color: white;
}
.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #19E68C;
  margin-top: auto;
  height: 8vh;
  position: fixed;
  left: 0;
  bottom: 0;
}
.footer p {
  display: flex;
  align-items: center;
  text-align: center;
  color: #474646;
  font-size: 1rem;
  padding: 20px;
}
#cta {
  border: 2px solid hotpink;
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
#cta h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 1px;
}
#cta p {
  border: 2px dotted red;
  display: flex;
  justify-content: center;
  width: 50%;
}
#smaller-body {
  display: flex;
  justify-content: center;
  height: 40vh;
}
#smaller-body .lorem {
  width: 45%;
}
#smaller-body .ipsum {
  width: 45%;
}
#about-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25vh;
  margin-top: 5%;
}
#about-container .about-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
  padding: 1%;
  background: linear-gradient(#19E68C, black);
  border-radius: 5px;
}
#about-container .about-section h2 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  margin-bottom: 1%;
  text-shadow: 2px 2px black;
}
#about-container .about-section p {
  display: flex;
  font-size: 1.5rem;
}
#githubs {
  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}
#githubs h3 {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  width: 100%;
  color: black;
  text-shadow: 2px 2px 5px slategrey;
}
#githubs .dev-boxes {
  border: 2px solid gold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 150px;
}
#githubs .dev-boxes .student-profile {
  border: 2px solid black;
  background-color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  width: 350px;
  height: 30%;
}
#githubs .dev-boxes .student-profile:hover {
  color: #19E68C;
  border: 2px solid #19E68C;
}
@media ( max-width:1600px ) {
  #githubs .dev-boxes {
    border: 2px solid red;
    width: 60%;
  }
}
@media ( max-width:1200px ) {
  #githubs .dev-boxes {
    border: 2px solid lime;
    width: 90%;
  }
}
@media ( max-width:800px ) {
  #githubs .dev-boxes {
    border: 2px solid hotpink;
    width: 90%;
  }
  #githubs .dev-boxes .student-profile {
    display: flex;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 1rem;
  }
}
@media ( max-width:600px ) {
  #githubs .dev-boxes {
    border: 2px solid gold;
    width: 40%;
  }
}
