.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #19E68C;
    margin-top: auto;
    height: 10vh;
    position: fixed;
    left: 0;
    bottom:0;
    
    
    p {
      text-align: center;
      color: @font-color;
      font-size: 1.6rem;
      padding: 20px;
    }
  }