.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #19E68C;
    margin-top: auto;
    height: 8vh;
    position: fixed;
    left: 0;
    bottom:0;

    
    p {
      display: flex;
      align-items: center;
      text-align: center;
      color: @font-color;
      font-size: 1rem;
      padding: 20px;
    }
  }