footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #19E68C;
    
    p {
      text-align: center;
      color: @font-color;
      font-size: 1.6rem;
      padding: 20px;
    }
  }