#cta{
    border:2px solid hotpink;
    height: 40vh;
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    h2{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 3rem;
        letter-spacing: 1px;
    }
    p {
        border:2px dotted red;
        display: flex;
        justify-content: center;
        width: 50%;
    }
}

#smaller-body{
    display: flex;
    justify-content: center;
    height: 40vh;

    .lorem{
        width: 45%;
    }
    .ipsum{
        width: 45%;
    }
}


//ABOUT PAGE
#about-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height:25vh;
    margin-top: 5%;

    .about-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 50%;
        padding:1%;
        background: linear-gradient(#19E68C, black);
        border-radius: 5px;

        h2{
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            margin-bottom: 1%;
            text-shadow: 2px 2px black;

        }
        p{
            display: flex;
            font-size: 1.5rem;
        }
    }  
}

#githubs{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    h3 {
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        width: 100%;
        color:black;
        text-shadow: 2px 2px 5px slategrey;
    }
    .dev-boxes{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-evenly;

        .student-profile{
            border: 2px solid black;
            background-color: black;
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            border-radius: 5px;
            padding: 3px;
            width: 400px;

            &:hover{
                color: #19E68C;
                border: 2px solid #19E68C;
            }
        }
    }
}