

//ABOUT PAGE

.githubs{
    border: 2px solid gold;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    h3 {
        font-size: 30px;
    }
    #student-profile{
        border:1px dotted pink;
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: black;
        font-size: 40px;

        &:hover{
            color: red;
        }
    }
}