//media query
@widescreen: ~'( max-width:1600px )';
@laptop: ~'( max-width:1200px )';
@tablet: ~'( max-width:800px )';
@phone: ~'( max-width:500px )';

// Color assignments 
@font-color: @darkgray;
@background: @spotify-green;



// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@spotify-green: #1DB954;
@darkgray: rgb(71, 70, 70);

