//media query
@phone: ~'( max-width:500px )';

// Color assignments 
@font-color: @darkgray;
@background: @spotify-green;



// Colors
@white: #FFFFFF;
@silver: #C0C0C0;
@spotify-green: #1DB954;
@darkgray: rgb(71, 70, 70);

